.page {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282828;
}
